
<nav class="navbar  navbar-light bg-light">
    <h1 class="navbar-brand">{{ currentSection }}</h1>
    <ul class="navbar-nav justify-content-center" id="header-ul">
        <li class="nav-item" *ngFor="let e of sections; let i = index" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" (click)="section(i)" style="cursor: pointer" [routerLink]="e.path"> {{ e.name }} </a>
        </li>
    </ul>

    <ul class="navbar-nav justify-content-end">
        <app-dropdown togglerClass="nav-link" dropdownClass="dropdown-menu-right" togglerText="Manage">
            <a class="dropdown-item" href="#">Save Data</a>
            <a class="dropdown-item" href="#">Fetch Data</a>
        </app-dropdown>
        
    </ul>
    
</nav>
<div class="row" id="title">
    <div class="col-12 text-center">
        <h2> {{currentSection}} </h2>
    </div>
</div>