<div id="contents">

    <div class="row">
        <div class="col-12">
            <img src="" alt="" class="img-fluid">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <h3>Ingredients</h3>
                </div>
                <div class="col-6 text-right">
                    <button class="btn btn-outline-primary">
                        <fa-icon size="lg" [icon]="faTrashAlt"></fa-icon>
                    </button>
                    <button class="btn btn-outline-primary">
                        <fa-icon size="lg" [icon]="faEdit"></fa-icon>
                    </button>
                    <button class="btn btn-outline-primary">
                        <fa-icon size="lg" [icon]="faPlus"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let x of [1,2]; let i = index">
                    {{ x }} {{ i }}
                </li>
            </ul>
        </div>
    </div>

</div>