<div id="contents">
    <br>
    <h2>
        {{ recipe.name }}
    </h2>
    <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-fluid">

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <h4>Ingredients</h4>
                </div>
                <div class="col-6 text-right">
                    <button class="btn btn-outline-success" *ngIf="displayControls">
                        <fa-icon size="" [icon]="faPlus"></fa-icon>
                    </button>
                    
                    <button class="btn btn-outline-info" (click)="displayControls = !displayControls"> 
                        <fa-icon size="" [icon]="faCog"></fa-icon>
                    </button>
                
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let x of recipe.ingredients; let i = index">
                    <span *ngIf="displayControls">
                        <button class="btn btn-sm btn-outline-primary">
                            <fa-icon size="" [icon]="faEdit"></fa-icon>
                        </button>
                        <button class="btn btn-sm btn-outline-danger">
                            <fa-icon size="" [icon]="faTrashAlt"></fa-icon>
                        </button>
                        <button class="btn btn-sm btn-outline-success" (click)="toShoppingList(i)">
                            <fa-icon size="" [icon]="faShare"></fa-icon>
                        </button>
                    </span>
                    {{ x.getText() }}
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <p>
                {{ recipe.description }}
            </p>
        </div>
    </div>

</div>